# mac OS files
.DS_Store

# PyCharm files
.idea

# Jupyter Notebook
.ipynb_checkpoints

# python files
__pycache__/
*.pyc

# airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/simple_auth_manager_passwords.json.generated

# virtual environment
venv/

# config file
scripts/config.py
